<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New Product</title>
</head>
<body>

<h2>Create New Product</h2>

<form method="post" th:object="${product}" th:action="@{/products/new}">
  <label>Name: <input type="text" th:field="*{name}" /></label><br>
  <label>Price: <input type="text" th:field="*{price}" /></label><br>
  <label>Photo: <input type="text" th:field="*{photo}" /></label><br>

  <label>Category:
    <select th:field="*{category}" >
      <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
    </select>
  </label><br>

  <input type="submit" value="Create">
</form>


<a th:href="@{/products}">Back to Product List</a>

</body>
</html>
